{{ if eq .chezmoi.os "darwin" -}}
export CACHE_ROOT="$HOME/Library/Caches"
{{ else if eq .chezmoi.os "linux" -}}
CACHE_HOME=$XDG_CONFIG_HOME
if [[ -z $CACHE_HOME ]]; then CACHE_HOME=$HOME; fi
export CACHE_ROOT="$CACHE_HOME/.cache"
{{ end -}}

export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8
export EDITOR='nvim'
export VISUAL='nvim'

export WS_ROOT="$HOME/workspaces"
export GH_ROOT="$WS_ROOT/github.com"
export SANDBOX_ROOT="$WS_ROOT/sandbox"
export TOOLS_ROOT="$WS_ROOT/tools"
export DOWNLOADS_ROOT="$HOME/Downloads"
export NOTES_ROOT="$HOME/Notes"

[[ -f ~/.flowkey ]] && export FLOW_VAULT_KEY=$(cat ~/.flowkey)

# Local config
[[ -f ~/.zshenv.local ]] && source ~/.zshenv.local
